body {
    font-family: Arial, sans-serif;
    margin: 0;
}

h1 {
    text-align: center;
    margin: 30px 0;
    color: #444;
}

form {
    margin: auto;
    max-width: 500px;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
}

label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

input[type="text"], input[type="email"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 10px;
    cursor: pointer;
}

a {
    display: hidden;
}
