<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/style.css') }}">
    <title>html table</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Full Name</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>Michael</td>
            <td>Choi</td>
            <td>Michael Choi</td>
        </tr>
        <tr>
            <td>John</td>
            <td>Supsupin</td>
            <td>John Supsupin</td>
        </tr>
        <tr>
            <td>Mark</td>
            <td>Guillen</td>
            <td>Mark Guillen</td>
        </tr>
        </tbody>
    </table>
</body>
</html>