<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/styleR.css') }}">
    <title>Document</title>
</head>
<body>
    
    <h1>User list:</h1>
    <div class="users-table">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
        </thead>
            
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
                <td>{{ user[2] }}</td>
                <td>{{ user[3] }}</td>
                <td id="none"><a href="{{url_for('delete', user_id=user[0]) }}"></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="home-btns">
    <button><a href="/create">Create a new user</a></button>
    <button><a href="/update">update or delete</a></button>
    </div>
</body>
</html>