<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>all the dojos</h1>
    <ul>
        {% for dojo in dojos %}
        <li><a href="{{ url_for('info', dojo_id=dojo.id) }}">{{ dojo.id }} {{ dojo.name }}</a></li>
        {% endfor %}
    </ul>
    <h2>Add a new dojo:</h2>
<form method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" required>
    <button type="submit">Add</button>
</form>
</body>
</html>